body{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: left;
  margin: 25px;
}

.nav-logo {
  width: 10px;
}
.nav-logo {
  position: relative;
  top: 10px;
  left: 3%;
  width: 70px;
  height: 70px;
  margin:-30px 0 0 -30px;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 
  100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-items > li {
  padding: 10px;
  font-family: monospace;
  font-size: 15px;
  text-shadow: 3px;
  
}

h1{
  text-align: center;
}

.MainContent{
  border: 1px solid;
    padding: 30px;
    box-shadow: 5px 10px;
    margin: 25px;  
    text-align: justify;
  }
 
  footer{
    background-color: #35b0c9;
    border-radius: 3px;
    color: black;
    text-align: center;
    padding: 15px; 
    margin: 25px; 
  }
  button{
   border-radius: 3px;
   color:aliceblue;
   background-color: #35b0c9;
   border-style:solid; 
   border-bottom:none;
   border-top: none;
   border-left: none;
   border-right: none;
   font-family: monospace;
   padding: 5px;
   margin: 15px;
   transition: 0.2s;
  }
 
  button:hover{
    background-color: white;
    color: #35b0c9;
  }

 
